<h1>Edit article</h1>

<%  if @article.errors.any? %>
    <h2>The following errors prevented the article from being saved</h2>
    <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
<% end %>

<!-- Allows to generate the url with instance variable @article -->
<%= form_with(model: @article, local: true) do |f| %>
    <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :description %>
        <%= f.text_area :description %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>